<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <a href="{% url 'index' %}">Index Page</a>
    <hr>
    <h1>Hello you are now in home page</h1><br><hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Reiciendis quibusdam molestiae est recusandae maiores minima omnis, officia voluptas, commodi <br>sequi deserunt? Fugiat numquam itaque dolorem dolore praesentium labore, commodi <br> odit fuga harum quam illo ducimus nesciunt impedit provident voluptas pariatur reiciendis consequatur! Rem quasi dolorum repellat ullam illo libero iure!</p>
    <hr>
</body>
</html>