<!DOCTYPE html>
<html>
    <head><title>Registration Form </title></head>
    <body>
        <h2>Registration Form</h2>
        <a href="{% url 'home' %}">Home Page</a>
           <form action=>
             First Name=<input type="text" name="firstname"><br><br>
             Last Name=<input type="text" name="lastname"><br><br>
             standerd=<input type="text" name="standerd"><br><br>
             Division=<input type="text" name="Division"><br><br>
             subject=<input type="text" name="subject"><br><br>
             Roll_no=<input type="number" name="Roll_no"><br><br>
             submit=<input type="button" name="submit"><br><br>
        </form>
    </body>

</html>


<!-- 

<!DOCTYPE html>
<html>
    <head><title>Hello Django</title></head>
    <body>
        <h1>This is form for the student registration</h1>
        <h3>Hello {{name}}, welcome to student registration form</h3>
        <div>
            <form>
                <label for="Fname">Student First Name</label>
                <input type="text"> <br>
                <label for="Lname">Student last Name</label>
                <input type="text"> <br>
                <label for="standard">Student Standard</label>
                <input type="number"><br>
                <button>Submit</button>
            </form>
        </div>
    </body>
</html> -->